//Colors
$color-dark: #080808;
$color-white: #FFFFFF;
$header-search-input: #E6E6E6;
$color-primary: #161515;
$color-secondary: #737373;

//Font-size
$font-h1: 32px;
$font-h2: 20px;
$font-large: 16px;
$font-paragraph: 14px;
$font-description: 8px;
$font-small: 12px;

//Breakpoints
$desktop-width: 1440px;
$tablet-width: 744px;
$mobile-width: 428px;
